.Electronics-section{
    align-content: flex-start;
    background-color: #f0f0f0;
}
.Electronics-bars{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 10%;
}