.top-strip{
    background-color: #f8f8f8;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: #555;
}
.container-strip{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
}
.header-main{
    align-items: center;
    padding: 10px 20px;
    background-color: #afcbff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}
.container-main{
  align-content: stretch;
  justify-content: space-between;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}
.search-bar{
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}
.search-button{
    background-color: #007bff;
    color: white;
    border: #007bff solid 1px;
    padding: 8px 16px;
    cursor: pointer;
}
.search-button:hover{
    background-color: #d8ebff;
    color: #007bff;
    border: #007bff solid 1px;
}
.profile-container {
  position: relative;
  display: inline-block;
}
.login-btn{
  background-color: #ffffff00;
  border: #007bff00 solid 1px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: sans-serif;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  width: 150px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
  padding: 8px 0;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
}
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}
.profile-container:hover .dropdown-menu {
  display: block;
}
.profile-container:hover .login-btn {
  background-color: #007bff;
  color: white;
  border: #007bff solid 1px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: sans-serif;
}
.menu-container {
  position: relative;
  display: inline-block;
}
.more-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 4px;
  z-index: 1;
  padding: 8px 0;
  width: 200px;
}
.more-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
}
.more-menu a:hover {
  background-color: #f1f1f1;
}
.menu-container:hover .more-menu {
  display: block;
}