.home-section{
    align-content: flex-start;
    background-color: #f0f0f0;
}
.home-bars{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
.category, .top-deals, .trending{
    background-color: #ffffff;
    padding: 20px;
}
.category-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-left: 7%;
    margin-right: 7%;
}
.deals-on-products{
    padding: 0px;   
}
.archive-section{
    align-content: flex-start;
    background-color: #ebebeb;
}